#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

*{
  scroll-behavior: smooth;
}

#experience .places{
  width: 24rem;
}

@media screen and (max-width:600px) {
  .navbar{
    display: none;
  }

  .body{
    width: 100% !important;
  }

  .hero p{
    font-size: 0.9rem;
  }

  .hero h2{
    font-size: 2rem;
    color: aliceblue;
  }
  
  .design{
    display: none !important;
  }

  
  #experience{
    height: 120vh;
    padding: 5px;
  }

  #experience > #exp-text{
    font-size: 2em;
    margin-bottom: 1.5em;
  }

  .experience{
    display: block !important;
    margin-bottom: 0;
  }

  .experience .places{
    height: 8em;
    width: 70vw !important;
    display: flex;
    margin-bottom: 2em;
    border-radius: 5px;
  }

  .otherside{
    display: flex;
    flex-direction: row-reverse;
  }

  .experience .places .subplace1{
    width: 50% !important;
    height: 100%;
  }

  .experience .places .subplace2{
    height: 100%;
    width: 50%;
    padding: 3px;

  }

  .experience .places .subplace2 p{
    font-size: 0.6em;
    line-height: normal;
  }

  .experience .places .subplace2 h5{
    font-size: 0.8em;
  }

  /*project section*/
  
}

.university{
  background: url("/src/pages/photos/bguni.jpg") center no-repeat;
  background-size: cover;
}
.uni-sub{
  position: relative;
  top: 19rem;
}